﻿@using ExDA.Models
@model AddressPage;

<h1>Addresses</h1>
<div class="container">
	<input type="hidden" asp-for="CurrPage" />
	<div class="row border rounded">
		<div class="col">Filter:</div>
		<div class="col">
			<input type="text" />
		</div>
		<div class="col">
			<button type="submit">Apply</button>
		</div>
	</div>
	<div class="row border rounded">
		<div class="col">
			<table>
				<thead>
					<tr>
						<th>Country</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>@item.Country</td>
							<td>@item.Line</td>
						</tr>
					}
				</tbody>
			</table>
			<a asp-action="PrevAdrPage" asp-route-pageNumber="@(Model.CurrPage - 1)" class="btn btn-default">Previous</a>
			<a asp-action="NextAdrPage" asp-route-pageNumber="@(Model.CurrPage + 1)" class="btn btn-default">Next</a>
		</div>
	</div>
</div>
