﻿@using ExDA.Models
@model Client;

<h1>Client details</h1>
<form asp-action="SaveClient">
	<div class="container">
		<input type="hidden" asp-for="IsNew" />
		<input type="hidden" asp-for="Code" />
		<div class="row border rounded">
			<div class="form-group col">
				<label asp-for="EntityType" class="control-label">Client type</label>
				@{
					var dis = Model.IsNew ? null : "disabled";
				}
				<div @dis>
					<select asp-for="EntityType" class="form-control" id="et" disabled="@dis">
						<option value="P" selected>Person</option>
						<option value="B">Business</option>
					</select>
				</div>
			</div>
			<div class="form-group col" name="person1" id="person1">
				<label asp-for="FirstName" class="control-label">First name</label>
				<input asp-for="FirstName" class="form-control" />
			</div>
			<div class="form-group col" name="person2" id="person2">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
			</div>
			<div class="form-group col" name="company" id="company">
				<label asp-for="CompanyName" class="control-label"></label>
				<input asp-for="CompanyName" class="form-control" />
			</div>
		</div>
		@if (!Model.IsNew)
		{
			<div class="row border rounded">
				<div class="form-group col">
					<label asp-for="LoginName" class="control-label"></label>
					<input asp-for="LoginName" class="form-control" disabled />
				</div>
				<div class="form-group col">
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" class="form-control" disabled />
				</div>
				<div class="form-group col">
					<a asp-action="ResetPwd" asp-route-clientCode="@Model.Code">Reset password</a>
				</div>
			</div>
		}
		<div class="row">
			<div class="col">Addresses</div>
		</div>
		<div class="row">
			<div class="col">
				<table>
					<tbody>

						@foreach (var ca in Model.ClientAddress)
						{
							<tr>
								<td>@ca.AddressType</td>
								<td>@ca.Address.Line</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col">Accounts</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-primary" type="submit">Submit Changes</button>
			</div>
			<div class="col">
				<a class="btn btn-info" type="button" asp-action="NewAddress" asp-controller="Details" asp-route-clientCode="@Model.Code">New Address</a>
			</div>
		</div>
	</div>
</form>

@section scripts{
	<script type="text/javascript">
		$(document).ready(function () {
			var initial = $('#et').val();
			toggle(initial);
			$('#et').change(function () {
				var value = $(this).val();
				//        alert('here: ' +value);
				toggle(value);
			});
		});
		function toggle(s) {
			if (s == 'P') {
				$('#person1').show();
				$('#person2').show();
				$('#company').hide();
			} else {
				$('#person1').hide();
				$('#person2').hide();
				$('#company').show();
			}
		}
	</script>
}
