﻿@using ExDA.Models
@model SearchResult;

@{
	ViewData["Title"] = "Search Result";
}
<h1>@ViewData["Title"]</h1>

	<div class="container">
	@if(!Model.Results.Any())
	{
		<div class="row">Nothing found</div>
	}
	@foreach(SearchItem si in Model.Results)
		{
		<div class="row">
			@if(si.EntityType == "P"){
			<div class="col">
					<label asp-for="@si.FirstName" class="">First name</label>
					<input asp-for="@si.FirstName" class="" />
			</div>
			} else {
				<div class="col">
					<label asp-for="@si.CompanyName" class="">Company</label>
					<input asp-for="@si.CompanyName" class="" />
				</div>
			}
			<div class="col">
				<a asp-action="EditClient" asp-route-clientCode="@si.Code">Edit</a>
			</div>
		</div>
		}
	</div>
