﻿@using ExDA.Models
@model SearchClient;

@{
	ViewData["Title"] = "Search Client";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="SearchClient">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="form-group col">
					<label asp-for="FirstName" class="control-label">First name</label>
					<input asp-for="FirstName" class="form-control" />
				</div>
				<div class="form-group col">
					<label asp-for="LastName" class="control-label">Last name</label>
					<input asp-for="LastName" class="form-control" />
				</div>
				<div class="form-group col">
					<label asp-for="CompanyName" class="control-label">Company</label>
					<input asp-for="CompanyName" class="form-control" />
				</div>
				<div class="form-group col">
					<label asp-for="Account" class="control-label">Account</label>
					<input asp-for="Account" class="form-control" />
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-primary" type="submit">Submit</button>
			</div>
		</div>
	</div>
</form>
