<div class="container text-start">
    <div class="row justify-content-md-start" *ngIf="passwordChanged == false">
        <div class="col col-sm-auto"><span>Enter new password:</span></div>
        <div class="col col-sm-auto"><input type="password" [(ngModel)]="newPassword"></div>
        <div class="col col-sm-auto">
          <button (click)="ChangePassword()" type="button">Submit</button>
        </div>
    </div>
    <div class="row" *ngIf="passwordChanged == true">
          Password changed
    </div>
</div>
