<div class="container">
    <div class="row">
<table>
    <thead>
        <th>Street</th>
        <th>Postal code</th>
        <th>Country</th>
        <th>Type</th>
        <th>Delete</th>
    </thead>
<tbody>
    <tr *ngFor="let a of addresses.addressList">
        <td><input type="text" [(ngModel)]= "a.line" [disabled]="!a.isNew" /> </td>
        <td>{{a.postalCode}}</td>
        <td><select [(ngModel)]="a.country" [disabled]="! a.isNew">
             <option *ngFor="let c of addresses.countries" [ngValue]="c.key">{{c.val}}</option>
        </select> </td>
        <td><select [(ngModel)]="a.addressType" [disabled] = "! a.isNew">
            <option *ngFor="let c of addresses.addressTypes" [ngValue]="c.key">{{c.val}}</option>
       </select> </td>
       <td><input type="checkbox" [(ngModel)]="a.delete"/>  
    </td>
   </tr>
</tbody>
</table>
</div>
<div class="row">
    <div class="col">
   <input type="button" (click)="AddAddress()" value="Add New"/>
</div>
<div class="col">
    <input type="button" (click)="SaveAddress()" value="Save Changes"/>
 </div>
 </div>
</div>
