﻿@using ExDA.Models
@model Address;
<h1>Address</h1>
<form asp-action="SaveAddress">
	<div class="container">
		<input type="hidden" asp-for="IsNew" />
		<input type="hidden" asp-for="ClientCode" />
		<div class="row border rounded">
			<div class="col">
				<label asp-for="Line" class="control-label">Line</label>
				<input asp-for="Line" class="form-control" />
			</div>
			<div class="col">
				<label asp-for="AddressType" class="control-label">Line</label>
				<select asp-for="AddressType" class="form-control">
					<option value="MAIL">Mailing</option>
					<option value="RES">Residential</option>
				</select>
			</div>
			<div class="col">
				<label asp-for="Country" class="control-label">Country</label>
				<select asp-for="Country" class="form-control">
					<option value="CA">Canada</option>
					<option value="RU">Russia</option>
				</select>
			</div>
			<div class="col">
				<label asp-for="PostalCode" class="control-label">Postal code</label>
				<input asp-for="PostalCode" class="form-control" />
			</div>
		</div>
		<div class="row">
		<span asp-validation-for="Line" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-primary" type="submit">Submit Changes</button>
			</div>
		</div>
	</div>
</form>
