<nav class="navbar navbar-expand-sm bg-body-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent" *ngIf="IsLoggedIn == true">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item btn btn-primary" routerLink="bank">Bank</li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="newDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="newDropdown">
            <li class="dropdown-item" routerLink="changePassword">Change password</li>
            <li class="dropdown-item" routerLink="address">Address</li>
          </ul>
        </li>
      </ul>
      <div>{{usr.name}}</div>
      <button class="btn btn-outline-success btn-sm" type="submit"
        (click)="Logout()">Logout</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
