<div *ngIf='LoggedIn == false'>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>User name</th>
          <th>Password</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" title="name" [(ngModel)]="UserName" /></td>
          <td><input type="password" title="pwd" [(ngModel)]="Pwd" /></td>
          <td> 
            <button (click)="Authenticate()" type="button">
              Submit
              <div class="spinner-border spinner-border-sm" role="status" *ngIf="Auhtenticating">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
